/***************************************
General Styles
****************************************/
a:hover {
    text-decoration: none;
    color: white;
}

.logo {
  text-align: center;
}


h1,
p,
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1, h5 {
  font-weight: 700;
}

h5 {
  color: rgb(158, 158, 158);
}

p {
  font-weight: 300;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
  border: none;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border: 2px solid white;
  padding: 0;
  margin: 20px 20px;
  border-radius: 25px;
  font-weight: 700;
  height: 40px;
  width: 100px;
}

.secondary-button {
  color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0px 20px;
  border-radius: 15px;
  font-weight: 700;
  height: 80px;
  width: 100px;
}

img:hover {
  cursor: pointer;
}

/***************************************
Hero Section
****************************************/

.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(./backgrounds/equipment.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

/* @media screen and (max-width: 600px) {
    .hero {
        background-image: linear-gradient(
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.7) 100%
    ),
    url(./backgrounds/equipment.jpg);
        background-position: 50% 50%;
        background-size: cover;
        
    }
  } */


.hero-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  height: auto;
}

.hero-content-box-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin-top: 15px;
  /* border: 2px solid rgb(143, 143, 143);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4); */
  
}

.hero-content-box {
  display: block;
  
  /* justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column; */
  color: white;
  margin: 20px 20px;
  padding: 50px 0;
  max-width: 300px;
  width: 200px;
  height: 300px;
  text-align: center;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  
}

.button1,
.button2,
.button3 {
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    transform: translate(0px, 30px);
    opacity: 0;
}

.box1:hover .button1 {
    opacity: 1;
    transform: translate(0px, 0px); 
}

.box2:hover .button2 {
    opacity: 1;
    transform: translate(0px, 0px); 
}

.box3:hover .button3 {
    opacity: 1;
    transform: translate(0px, 0px); 
}


.hero-content-box p {
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  color: #d4d4d4;
}

.hero-content h1 {
  text-align: center;
  font-family: "Cinzel", serif;
}

.hero-content-box h4,
.hero-content-box h3 {
    font-family: "Cinzel", serif;
}

.hero-content a {
    height: auto;
    width: auto;
    color: white;
    text-decoration: none;
}

.hero-content a:hover .hero-content-box {
    opacity:1;
    
}

.sign-up {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-family: "Cinzel", serif;
    background: rgb(194, 194, 194);
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.sign-up:hover {
    border-color: rgb(53, 103, 160);
    
}



/* .hero2 {
  background-image: url(#);
  background-size: cover;
  background-position: 50% 52%;
  height: 80vh;
  display: flex;
  padding-bottom: 40px;
} */

.menu-button {
  display: none;
}

.menu-button img {
  width: 30px;
}
.menu-button svg {
  height: 30px;
  width: 30px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button #middle-bar,
.menu-button #bottom-bar {
  transition: 0.2s;
  transform-origin: 50% 50%;
}

.menu-button:hover #middle-bar {
  transform: rotate(180deg);
  width: 100px;
}

.menu-button:hover #bottom-bar {
  width: 100px;
}

@media (max-width: 700px) {
  .menu-button {
    display: block;
  }

  .desktop-links {
    display: none;
  }
}

.logo {
  height: 3em;
  width: 3em;
  display: block;
  fill: currentcolor;
  color: white;
}

.logo h1 {
  padding: 0 auto;
  font-family: "Cinzel", serif;
  font-size: 28px;
  text-align: center;
}

span.logo {
    width: auto;
    margin-right: 20px;
}

nav {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  /* padding: 20px 3rem; */
  align-items: center;
}

nav ul {
  margin: 0 10px;
  padding: 0px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 16px;
  padding-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "Cinzel", serif;
}
.logo {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 0px 20px 20px;
  color: white;
  font-family: "Cinzel", serif;
  /* border: 2px solid white; */
  /* background-color: dodgerblue; 
    border-radius: 10px;   */
}

/* .nav-fixed {
    position: fixed;
    background: red;
} */

/***************************************
main Section
****************************************/
main {
  display: flex;
  align-items: center;
}
main img {
  display: flex;
  width: 225px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  padding: 0 auto;
}

.image-row1 {
  margin: 50px 20px;
  padding: 0 auto;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.image-row2 {
  margin: 50px 20px;
  padding: 0 auto;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.image-container2 img {
  display: flex;
  width: 225px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  padding: 0 auto;
}

/***************************************
Footer Section
****************************************/

footer {
  padding: 20px 0;
  background: rgb(58, 58, 58);
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: center;
}

footer a {
  color: white;
}

@media (max-width: 600px) {
  .footer-container,
  .footer-box ul {
    flex-direction: column;
  }
}
.list-padding {
  padding: 0px 20px 0px 20px;
}

.footer-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer li a:hover {
  color: rgb(0, 255, 34);
  text-decoration: none;
  font-weight: none;
}





/********************
   nav bar hidden 
********************/

/*Strip the ul of padding and list styling*/
.added ul {
  list-style-type:none;
  margin:0;
  padding:0;
position: absolute;
text-align: left;
}

/*Create a horizontal list with spacing*/
.added li {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-right: 1px;
}

/*Style for menu links*/
.added li a {
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:140px;
  height: 50px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}


/*Style for dropdown links*/
.added li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/

/*Hide dropdown links until they are needed*/
.added li ul {
  display: none;
}

/*Make dropdown links vertical*/
.added li ul li {
  display: flex;
  float: none;
  text-align: left;
}

/*Prevent text wrapping*/
.added li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
  text-align: left;
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #2b2b2b00;
  text-align: center;
  padding: 10px 0;
  display: none;
}

.added label {
    margin-right: 10px;
}



/*Hide checkbox*/
.added input[type=checkbox]{
  display: none;
}

/*Show menu when invisible checkbox is checked*/
.added input[type=checkbox]:checked ~ #menu{
  display: block;
}


.added input[type=checkbox] ~ #menu{
display: none;
}


.cf:after {
content: ' ';
display: flex;
clear: both;  
}


/*Responsive Styles*/

@media screen and (max-width : 700px){
  /*Make dropdown links appear inline*/
  .added ul {
      position: relative;
      display: none;
  }
  /*Create vertical spacing*/
  .added li {
      margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .added ul li, li a {
      width: 100%;
  }
  /*Display 'show menu' link*/
  .show-menu {
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100px;
  }
}

@media screen and (max-width : 500px){
.added ul li, li a {
  width: 50px;
}

.added ul li{
  justify-content: flex-start;
}
}


